@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../vendor/awcodes/light-switch/resources/**/*.blade.php';

@theme {
    --color-primary-50: oklch(0.984 0.014 250.791);
    --color-primary-100: oklch(0.956 0.043 252.897);
    --color-primary-200: oklch(0.908 0.082 254.079);
    --color-primary-300: oklch(0.828 0.111 253.024);
    --color-primary-400: oklch(0.707 0.165 254.624);
    --color-primary-500: oklch(0.623 0.214 259.815);
    --color-primary-600: oklch(0.546 0.245 262.881);
    --color-primary-700: oklch(0.488 0.243 264.376);
    --color-primary-800: oklch(0.424 0.199 265.638);
    --color-primary-900: oklch(0.379 0.146 265.522);
    --color-primary-950: oklch(0.282 0.091 267.935);

    --color-warning-50: oklch(0.987 0.022 95.277);
    --color-warning-100: oklch(0.962 0.059 95.617);
    --color-warning-200: oklch(0.924 0.12 95.746);
    --color-warning-300: oklch(0.869 0.192 91.561);
    --color-warning-400: oklch(0.795 0.184 86.047);
    --color-warning-500: oklch(0.769 0.188 70.08);
    --color-warning-600: oklch(0.666 0.179 58.318);
    --color-warning-700: oklch(0.553 0.195 38.402);
    --color-warning-800: oklch(0.473 0.137 46.201);
    --color-warning-900: oklch(0.414 0.142 46.67);
    --color-warning-950: oklch(0.261 0.071 45.98);
}
